<div class="container">

  <div class="row">

    <div class="col-4 mx-auto">

      <app-search></app-search>

    </div>

  </div>
  <div class="row">
    <div class="col text-center">
      <h2>Personagens</h2>
    </div>
  </div>
  <br>
  <ng-container *ngIf="list$ | async as list">
    <div class="row">
      <div class="col-3 mb-4"
           *ngFor="let item of list.results | paginate: {itemsPerPage: list.pagination.items, currentPage: list.pagination.page, totalItems: list.pagination.total}">
        <div class="card">
          <img [src]="item.thumbnail.path.replace('http', 'https') + '/landscape_xlarge.jpg'" class="card-img-top"
               [alt]="item.name">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description || 'Sem descrição disponível' }}</p>
            <a class="btn btn-outline-secondary" [routerLink]="['/detailed', item.id]">Detalhes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <pagination-controls (pageChange)="changePage($event, list.pagination.items)"
                             previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
      </div>
    </div>
  </ng-container>
</div>
