<div id="main">

  <div class="brand">

    <div class="row">

      <div class="col">

        <a [routerLink]="['/']">
          <img src="/assets/brand/marvel.png" alt="Marvel">
        </a>

      </div>

    </div>

  </div>

  <div class="container-fluid">

    <router-outlet></router-outlet>

  </div>
</div>

<div id="particles-background">
  <video autoplay muted loop id="particles-clip">
    <source src="/assets/background/particles.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>
