<div id="main">
  <div class="container-fluid">

    <div class="row">

      <div class="col">

        <div class="brand">

          <img src="/assets/brand/marvel.png" alt="Marvel">

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-4 mx-auto">

        <app-search></app-search>

      </div>

    </div>

    <router-outlet></router-outlet>

  </div>
</div>

<div id="particles-background">
  <video autoplay muted loop id="particles-clip">
    <source src="/assets/background/particles.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>
