#main {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;

  .brand {
    padding: 1rem 0;
    text-align: center;

    & > a > img {
      width: auto;
      height: 60px;
    }
  }
}

#particles-background {
  width: 100vw;
  height: 100vh;
  z-index: initial;
  position: relative;
  background-color: black;

  #particles-clip {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    height: 100vh;
  }
}
