<ng-container *ngIf="details$ | async as detail">
  <div class="container my-4" *ngFor="let item of detail.results">
    <div class="row">
      <div class="col-2">
        <img [src]="item.thumbnail.path.replace('http', 'https') + '/standard_fantastic.jpg'" [alt]="item.name"
             class="img-thumbnail">
      </div>
      <div class="col">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description || 'Sem descrição disponível' }}</p>
        <button class="btn btn-outline-light" [routerLink]="['/']">Voltar</button>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col">
        <h2>Quadrinhos</h2>
      </div>
    </div>

    <ng-container *ngIf="comics$ | async as comics; else elseBlock">
      <div class="row">
        <div class="col-2 my-4" *ngFor="let item of comics.results">
          <img [src]="item.thumbnail.path.replace('http', 'https') + '/portrait_fantastic.jpg'" [alt]="item.title"
               class="img-thumbnail">
          <p>{{ item.title }}</p>
        </div>
        <div class="col text-center  my-lg-4" *ngIf="comics.results.length === 0">
          Nenhum resultado encontrado.
        </div>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div class="text-center">Carregando...</div>
    </ng-template>

  </div>
</ng-container>
